@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root{
  /* --yellow: #fee302; */
  --yellow: #e2b808;
  /* --lightbg: #fffbd9; */
  --bgColor: #f5f5f5;
  --bgColorDim: #f5f5f540;
  --inverse: #100918;
  /* --textColor: #100918;  */
  --textColor: #27272a;
  --textgray: #71717a;
  --blur: #e2b80899;
  --bgGray: #f1f5f9;
  --navBlur: #f5f5f580;
  /* --lightbg: whitesmoke; */
  
}
.dark{
  --bgColor: #100918;
  --bgColorDim: #10091830;
  --inverse: whitesmoke;
  --textColor: #ffffff;
  --yellow: #fee302;
  --blur: #fee30290;
  --bgGray: #0f172a;
  --navBlur: #10091880;
}

/* body{
  background-color: var(--bgColor); */
  /* scroll-behavior: smooth; */
/* } */
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }*/
