@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  /* --yellow: #fee302; */
  --yellow: #e2b808;
  /* --lightbg: #fffbd9; */
  --bgColor: whitesmoke;
  /* --textColor: #100918;  */
  --textColor: #27272a;
  --textgray: #71717a;
  --blur: #e2b80899;
  /* --lightbg: whitesmoke; */
  
}
.dark{
  --bgColor: #100918;
  --textColor: #ffffff;
  --yellow: #fee302;
  --blur: #fee30290;
}
body{
  background-color: var(--bgColor);
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }*/
